/* styles.css */
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.user-img{
  border-radius: 50%;
}

.nav-link, .navbar-brand {
  color: white;
}

.nav-link .active {
  border: 2px dotted white;
}

.navbar-toggler {
  color: white;
  border: 2px solid white;
}

@media (min-width: 992px) {
  .collapse .collapse-content {
    display: flex;
    width: 100%;
  }

  .collapse .ripple {
    height: 35px;
  }
}