.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: unset;
    background-color: #f5f5f5;
}

.form-container {
    padding: 2rem;
    z-index: 1;
    opacity: 1;
    border-radius: 8px;
    background-color: #fff;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
}


.form {
    display: flex;
    flex-direction: column;
}


input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
}


button {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}


.text {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
}


.link {
    color: #007BFF;
    text-decoration: none;
}


.social-container {
    margin-top: 1.5rem;
}


.social-button {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    width: 100%;
}






#loader-wrapper {
    position: fixed;
    width: 300px;
    height: 400px;
    text-align: center;
    z-index: 0;
}

#loader {
    display: none;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}